

button{
    background-color:white;
    
   } 

a{
    color: blue;
    text-decoration: none;
}


/*first wrapper*/
.parent{
    display:grid;
    grid-template-rows: 100px;
    grid-template-columns:150px 50px ;
    grid-gap: 0.5em;
    
}
#orange{
    background-color: orangered;
}

#yellow{
    background-color: orange;
    width: 78px;
    
}
/*second wrapper*/
.container{
    display: grid;
    grid-template-columns: 150px ;
    grid-template-rows: 110px ;
    grid-gap:1em;
    margin-top: 10px;
}

#green{
    background-color: rgb(19, 243, 19);
    width: 80px;
    margin-top: 2px;
    

}

#blue{
    background-color:dodgerblue;
    position: absolute;
    left: 90px;
    margin-left: 7px;
    
    
}

#red{
    background-color:dodgerblue;
    position: relative;
    left:87px;
    margin-left:2px;
    bottom: 60px;
    
    
}
p{
    visibility: hidden;
}

body{
    background-color: black;
}
